---
title: Bushwick Ayuda Mutua
layout: default
categories: about
---

<div id="about">
    <img id="connect_img" src="assets/images/connect.svg" />
    <div class="about-container">
        <div class="row">
            <div class="col-12 col-lg-4 header mb-3">
                <div class="content-container">
                    <img id="community_image" src="assets/images/community.svg" />
                    <div class="title font-grif-bold">
                        <span class="eng lang-text active">
                            About BAM
                        </span>
                        <span class="span lang-text">
                            Sobre BAM
                        </span>
                    </div>

                    <p class="pt-3 pb-3 subtitle">
                        <span class="eng lang-text active">
                            Bushwick Ayuda Mutua (BAM) was born out of the 2020 COVID-19 crisis in response to a lack of
                            government support and resources for the most vulnerable in our community.
                        </span>
                        <span class="span lang-text">
                            Bushwick Ayuda Mutua (BAM) nació en el 2020 debido a la crisis del COVID-19, como una
                            respuesta a la falta de apoyo del gobierno a las comunidades más vulnerables.
                        </span>
                    </p>

                    <p class="pt-3 text">
                        <span class="eng lang-text active">
                            Bushwick Ayuda Mutua serves as a way for individuals to fight systems that seek to divide,
                            is a deliberate and intentional community that prioritizes the marginalized, and aims to
                            empower,
                            prioritize, and give space to long-time residents.
                        </span>
                        <span class="span lang-text">
                            Bushwick Ayuda Mutua es una manera en la cual individuos pueden unirse en contra de un
                            sistema que busca dividir— BAM es una comunidad que nace con la intención de darle prioridad
                            a aquelles que han sido marginalizados, con el objetivo de empoderar, al igual que darle
                            prioridad y espacio a aquelles que han sido residentes de la comunidad por un largo tiempo.
                        </span>
                    </p>

                    <p class="pt-3 text">
                        <span class="eng lang-text active">
                            100% volunteer run and community funded.
                        </span>
                        <span class="span lang-text">
                            Somos financiados al 100% por la comunidad, y nuestres voluntaries.
                        </span>
                    </p>

                    <div class="connect pt-4 pt-lg-5">
                        <div class="font-grif-bold pb-1 connect-text">
                            <span class="eng lang-text active">
                                Want to connect?
                            </span>
                            <span class="span lang-text">
                                ¿Quieres conectarte?
                            </span>
                        </div>
                        <div class="link pt-3">
                            <a href="mailto:bushwickayudamutua@gmail.com">
                                <span class="eng lang-text active">Email Us</span>
                                <span class="span lang-text">Enviarnos un email</span>
                                <div class="arrow">{% include arrowSVG.html %}</div>
                            </a>
                        </div>
                        <div class="link pt-3">
                            <a target="_blank" href="https://instagram.com/bushwickayudamutua">
                                <span class="eng lang-text active">Follow Us On Instagram</span>
                                <span class="span lang-text">Síguenos en Instagram</span>
                                <div class="arrow">{% include arrowSVG.html %}</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mission mt-5">
                <div class="drop-section">
                    <div class="head d-flex">
                        <div class="title font-grif-bold pt-3 pb-3 pt-lg-5 pb-lg-5">
                            <span class="eng lang-text active">
                                Our Mission
                            </span>
                            <span class="span lang-text">
                                Nuestra Misión
                            </span>
                        </div>

                        <span class="toggle-icon plus-img collapsed" data-toggle="collapse" href="#mission"
                            aria-expanded="false"></span>
                    </div>

                    <div id="mission" class="about-content collapse">
                        <p class="pb-2">
                            <span class="eng lang-text active">
                                Bushwick Ayuda Mutua is a space for short and long-term residents of Bushwick to create
                                frameworks
                                within our community that sustainably take care of the community.
                            </span>
                            <span class="span lang-text">
                                Bushwick Ayuda Mutua es un espacio donde todos los residentes del área, nuevos y
                                antiguos, pueden crear una estructura dentro de la comunidad donde nos podemos ayudar
                                mutuamente.
                            </span>
                        </p>

                        <p class="pb-2">
                            <span class="eng lang-text active">
                                We strive to ensure that residents of our community have their most basic needs met, as
                                well access
                                to resources and information to thrive during COVID-19 pandemic and beyond.
                            </span>
                            <span class="span lang-text">
                                Nuestro objetivo es asegurar que todos les residentes de la comunidad puedan satisfacer
                                sus necesidades básicas — asimismo brindar acceso a recursos e información que puedan
                                ayudar a navegar la pandemia, debido al COVID-19, y la vida en la ciudad.
                            </span>
                        </p>

                        <p class="pb-5">
                            <span class="eng lang-text active">
                                Currently, we serve Bushwick neighbors through the distribution of food, pantry items,
                                and necessities like toilet paper, soap, and menstrual products.
                            </span>
                            <span class="span lang-text">
                                Actualmente, nuestro esfuerzo está enfocado en apoyar a nuestres vecines con
                                distribución de víveres, abarrotes, y necesidades básicas como papel higiénico, jabón, y
                                productos menstruales.
                            </span>
                        </p>
                    </div>
                </div>

                <!-- Our Vision -->
                <div class="drop-section">
                    <div class="head d-flex">
                        <div class="title font-grif-bold pt-3 pb-3 pt-lg-5 pb-lg-5">
                            <span class="eng lang-text active">
                                Our Vision
                            </span>
                            <span class="span lang-text">
                                Nuestra Visión
                            </span>
                        </div>

                        <span class="toggle-icon plus-img collapsed" data-toggle="collapse" href="#vision"
                            aria-expanded="false"></span>
                    </div>

                    <div id="vision" class="about-content collapse">
                        <div class="header pb-2" style="font-size:30px;">Unido El Pueblo Jamas Sera Vencido</div>
                        <p class="pb-2">
                            <span class="eng lang-text active">
                                We aspire to live in a community where no one lives in hunger, where people have access
                                to livable wages, affordable, safe housing, and health care.
                            </span>
                            <span class="span lang-text">
                                Aspiramos a vivir en una comunidad donde nadie conozca el hambre, donde todos tengan
                                acceso a un salario digno, a un hogar seguro y asequible, y atención médica.
                            </span>
                        </p>

                        <p class="pb-2">
                            <span class="eng lang-text active">
                                We aspire to live in a community where every person and family lives autonomous and
                                empowered lives.
                            </span>
                            <span class="span lang-text">
                                Aspiramos vivir en una comunidad donde cada persona y familia tenga la oportunidad de
                                vivir una vida valorada e independiente.
                            </span>
                        </p>

                        <p class="pb-2">
                            <span class="eng lang-text active">
                                We aspire to have a system in place that supports the community, from within the
                                community.
                            </span>
                            <span class="span lang-text">
                                Aspiramos a tener un sistema que apoye a la comunidad, y los esfuerzos de la comunidad.
                            </span>
                        </p>

                        <p class="pb-2">
                            <span class="eng lang-text active">
                                We aspire to be able to offer help, when neighbors need help.
                            </span>
                            <span class="span lang-text">
                                Aspiramos a poder ofrecer nuestra ayuda cuando nuestres vecines la necesiten.
                            </span>
                        </p>

                        <p class="pb-2">
                            <span class="eng lang-text active">
                                We aspire to create a network of individuals and community organizations that can react
                                to federal and local policies that put community members at risk.
                            </span>
                            <span class="span lang-text">
                                Aspiramos a crear una red de individuos y organizaciones dedicadas a las comunidades que
                                puedan responder a políticas de nivel local y federal que puedan poner a nuestra
                                comunidad en riesgo.
                            </span>
                        </p>
                    </div>
                </div>

                <!-- Points of Unity -->
                <div class="drop-section">
                    <div class="head d-flex">
                        <div class="title font-grif-bold pt-3 pb-3 pt-lg-5 pb-lg-5">
                            <span class="eng lang-text active">
                                Points of Unity
                            </span>
                            <span class="span lang-text">
                                Puntos De Unidad
                            </span>
                        </div>

                        <span class="toggle-icon plus-img collapsed" data-toggle="collapse" href="#points-of-unity"
                            aria-expanded="false"></span>

                    </div>

                    <div id="points-of-unity" class="collapse about-content">
                        <ol>
                            <li>
                                <p>
                                    <span class="eng lang-text active">
                                           <span style="font-weight:bold;">We are a Bushwick-based organization of community members, 
                                            formed at the onset of the COVID-19 pandemic in 2020. </span> Our work began with regular 
                                            distributions of groceries to folks in need and has expanded to distributions of other
                                            essentials and forms of support.
                                    </span>
                                    <span class="span lang-text">
                                        <span style="font-weight:bold;">Somos una organización compuesta por miembros de la comunidad, 
                                            basada en Bushwick y formada al comienzo de la pandemia de COVID-19 en 2020. </span>
                                        Nuestro trabajo comenzó con distribuciones regulares de alimentos a miembres de la comunidad 
                                        y se ha expandido a distribuciones de otros bienes esenciales y otras formas de apoyo.
                                    </span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span class="eng lang-text active">
                                        <span style="font-weight:bold;">The redistribution of food and other essential resources alleviate
                                        the effects of systemic oppression, but they cannot defeat it.</span> What we’ve done met specific 
                                        material needs, but didn’t undo the forces that manufactured those needs. 
                                        For example: distributions can feed folks, but don’t inherently change what pushes folks to hunger. 
                                        We recognize the limitations of this work. However, we also understand these distributions 
                                        have been a vector for the most important tool in our arsenal - <span style="font-weight:bold;">
                                        organizing our communities.</span>
                                    </span>
                                    <span class="span lang-text">
                                        <span style="font-weight:bold;">La redistribución de alimentos y otros bienes esenciales ayuda 
                                        a aliviar los efectos de la opresión sistémica, pero no la pueden derrotar.</span>
                                        El trabajo que hacemos ayuda a satisfacer necesidades materiales específicas, pero no deshace las fuerzas que producen esas necesidades. 
                                        Por ejemplo, las distribuciones alimentan a la gente, pero no necesariamente eliminan lo que causa el hambre. 
                                        Reconocemos las limitaciones de este trabajo. 
                                        Sin embargo, también entendemos que estas distribuciones 
                                        son una oportunidad para desarrollar nuestra herramienta más importante: 
                                        <span style="font-weight:bold;">la organización de nuestras comunidades. </span>
                                    </span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span class="eng lang-text active">
                                        <span style="font-weight:bold;">We are organizing for autonomy in our community and others like it.</span>
                                        Autonomy is defined as sustained, universal access to the resources we need to survive
                                        on the terms of those making and receiving those resources.
                                    </span>
                                    <span class="span lang-text">
                                        <span style="font-weight:bold;">Nos organizamos por la autonomía de nuestra 
                                        comunidad y otras parecidas.</span> La autonomía se define como el acceso
                                        universal y duradero a los recursos que necesitamos para sobrevivir,
                                        de acuerdo con las condiciones y los deseos de aquelles que producen, reciben y usan esos recursos. 
                                    </span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span class="eng lang-text active">
                                        <span style="font-weight:bold;">We are organizing against the forces 
                                        that obstruct the realization of our autonomy.</span>
                                        These forces take many forms, but are rooted in <span style="font-weight:bold;">white supremacy</span> 
                                        and <span style="font-weight:bold;">capitalist imperialism.</span>
                                    </span>
                                    <span class="span lang-text">
                                        <span style="font-weight:bold;">Nos estamos organizando en contra de los poderes que obstruyen
                                        la concreción y realización de nuestra autonomía.</span>
                                        Estos poderes toman muchas formas, pero tienen sus raíces en
                                        <span style="font-weight:bold;">la supremacía blanca</span> y 
                                        <span style="font-weight:bold;">el imperialismo capitalista.</span>
                                    </span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span class="eng lang-text active">
                                        <span style="font-weight:bold;">To secure our autonomy, we need to put an end to our necessities’
                                        status as commodities and affirm their access as a right.</span>
                                        Under capitalist imperialism, these resources are made 
                                        inaccessible through capital and without consideration for our collective health.
                                    </span>
                                    <span class="span lang-text">
                                        <span style="font-weight:bold;">Para asegurar nuestra autonomía, 
                                        hay que poner un fin a la compra y venta (mercantilización) de nuestras necesidades; 
                                        en cambio, debemos afirmar el acceso a nuestras necesidades como un derecho.</span>
                                        Bajo el imperialismo capitalista, nuestras necesidades 
                                        se vuelven inaccesibles debido al capital y sus intereses, 
                                        sin dar importancia a nuestra salud colectiva.
                                    </span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span class="eng lang-text active">
                                        <span style="font-weight:bold;">We oppose the institutions that maintain these necessities’ 
                                        status as a commodity.</span> These institutions include agribusiness, 
                                        the police, the government, and their respective cronies. 
                                        Anyone and any institution staked in the manufactured inaccessibility 
                                        of these resources must be confronted.
                                    </span>
                                    <span class="span lang-text">
                                        <span style="font-weight:bold;">Nos oponemos a las instituciones 
                                        que mantienen a nuestras necesidades como mercancías. </span>
                                        Estas instituciones incluyen el agronegocio, la policía, el gobierno 
                                        y sus respectivos compinches. Cualquier persona o institución que 
                                        participe en la inaccesibilidad artificial de estos recursos debe ser encarada.
                                    </span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span class="eng lang-text active">
                                        <span style="font-weight:bold;">We organize ourselves horizontally and equitably.</span>
                                        We practice <span style="font-weight:bold;">consensus</span> and 
                                        <span style="font-weight:bold;">collective decision-making</span> 
                                        as our main navigating frameworks. We are collectively empowered to make decisions, 
                                        determine structureis, and assert stewardship over the work.
                                    </span>
                                    <span class="span lang-text">
                                        <span style="font-weight:bold;">Nos organizamos de manera horizontal y equitativa.</span>
                                        Practicamos el consenso y la toma de decisiones colectiva como nuestros principales
                                        marcos de navegación. Estamos facultados colectivamente para tomar decisiones,
                                        determinar estructuras y afirmar la administración sobre el trabajo.
                                    </span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span class="eng lang-text active">
                                        <span style="font-weight:bold;">We practice solidarity, not service nor charity.</span>
                                        Our primary and sole reason for being involved in this effort is because we understand our need to be.
                                    </span>
                                    <span class="span lang-text">
                                        <span style="font-weight:bold;">Practicamos la solidaridad, no el servicio ni la caridad.</span>
                                        Nuestra principal y única razón para estar involucrados en este esfuerzo
                                        es porque entendemos nuestra necesidad de estarlo.
                                    </span>
                                </p> 
                            </li>
                            <li>
                                <p>
                                    <span class="eng lang-text active">
                                        <span style="font-weight:bold;">We fight alongside and center the 
                                        most marginalized in our work.</span> This includes black, brown, 
                                        indigenous, queer, trans, differently-abled, and undocumented folks 
                                        in and out of our community.
                                    </span>
                                    <span class="span lang-text">
                                        <span style="font-weight:bold;">Luchamos juntos y centramos en 
                                        nuestro trabajo a los más marginados.</span> Esto incluye personas 
                                        negras, indígenas, queer, trans, discapacitadas, 
                                        indocumentadas dentro y fuera de nuestra comunidad.
                                    </span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span class="eng lang-text active">
                                        <span style="font-weight:bold;">We are creating a new, 
                                        just world - one of anti-repression and non-disposability.</span>
                                        It is our collective responsibility to embody and struggle towards these points of 
                                        unity in our creation of a just world - understanding that we must care 
                                        for each other’s health and well-being and are able 
                                        to do so in a way that no entity can replace.
                                    </span>
                                    <span class="span lang-text">
                                        <span style="font-weight:bold;">Estamos creando un mundo 
                                        nuevo y justo, uno de antirrepresión y no desechable.</span>
                                        Es nuestra responsabilidad colectiva luchar por estos puntos de unidad en 
                                        nuestra creación de un mundo justo, nuestra revolución. 
                                        Entendemos que la salud y el bienestar de nuestra comunidad son 
                                        responsabilidad nuestra y que ninguna institución o organización 
                                        puede sustituir el cuidado y atención que les debemos unes a otres. 
                                    </span>
                                </p>
                            </li>
                        </ol>                    
                    </div>
                </div>

                <!-- Partners -->
                <div class="drop-section">
                    <div class="head d-flex">
                        <div class="title font-grif-bold pt-3 pb-3 pt-lg-5 pb-lg-5">
                            <span class="eng lang-text active">
                                Partners
                            </span>
                            <span class="span lang-text">
                                Nuestros Afiliados
                            </span>
                        </div>

                        <span class="toggle-icon plus-img collapsed" data-toggle="collapse" href="#partners"
                            aria-expanded="false"></span>

                    </div>

                    <div id="partners" class="collapse about-content">
                        <p class="pb-2">
                            <span class="eng lang-text active">
                                <a target="_blank" href="https://www.milmundosbooks.com/">Mil Mundos</a>: a bilingual
                                book store that celebrates Black, Latinx, and Indigenous heritage. Operates our drop off
                                center / depot.
                            </span>
                            <span class="span lang-text">
                                <a target="_blank" href="https://www.milmundosbooks.com/">Mil Mundos</a>: Una librería
                                que busca celebrar aquelles de descendencia Afroamericana, Latinx e Indigena. Desde aquí
                                operamos nuestras entregas y recibos.
                            </span>
                        </p>
                        <p class="pb-2">
                            <span class="eng lang-text active">
                                <a target="_blank"
                                    href="https://www.facebook.com/Latinos-Unidos-Bushwick-108019350914635/?ref=nf&hc_ref=ARRODYNmLfxJg0rcR1pffIkRLbi9iIZcd-Kmg4zaOTkwhTKl8BRmpoCm-lqextb3Mus">Latinos
                                    Americanos Unidos: </a>community organization for over 30 years. Hosts us on a
                                weekly basis for grocery packing and pick up.
                            </span>
                            <span class="span lang-text">
                                <a target="_blank"
                                    href="https://www.facebook.com/Latinos-Unidos-Bushwick-108019350914635/?ref=nf&hc_ref=ARRODYNmLfxJg0rcR1pffIkRLbi9iIZcd-Kmg4zaOTkwhTKl8BRmpoCm-lqextb3Mus">Latinos
                                    Americanos Unidos: </a>es una organización dedicada a servir a la comunidad por más
                                de 30 años. LAU ha prestado su espacio a Bushwick Ayuda Mutua para la distribución de
                                víveres semanales.
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>