<div id="footer">
    <img class="pointing-img" src="/assets/images/pointing.svg"/>
    <div class="container align-items-lg-center">
        <div class="content-container">
            <div class="subtitle pt-4 pb-4">
                <span class="lang-text eng active">
                    Want to support our mission?
                </span>
                <span class="lang-text span">
                    ¿Quieres apoyar nuestra misión?
                </span>
            </div>
            <div class="title">
                <span class="lang-text eng active">
                    Donate to Bushwick Ayuda Mutua
                </span>
                <span class="lang-text span">
                    Dona a Bushwick Ayuda Mutua
                </span>
            </div>
            <div class="donate-container d-flex flex-column flex-lg-row align-items-center justify-content-lg-center">
                <a target="_blank" href="https://opencollective.com/bushwick-ayuda-mutua" class="donate donate-funds">
                    <span class="lang-text eng active">
                        Donate Funds
                    </span>
                    <span class="lang-text span">
                        Donar Fondos
                    </span>
                </a>
                <a href="/donate-item/" class="donate">
                    <span class="lang-text eng active">
                        Donate Item
                    </span>
                    <span class="lang-text span">
                        Donar Artículo
                    </span>
                </a>
            </div>
        </div>
    </div>

    <div class="footer-inner">
        <div class="d-lg-flex justify-content-lg-between">
            <div class="d-flex flex-column flex-lg-row align-items-center links-container order-1 order-lg-2">
                <span class="footer-link"><a target="_blank" href="https://www.facebook.com/bushwickayuda ">Facebook</a></span>
                <span class="footer-link"><a target="_blank" href="https://twitter.com/BushwickAyuda ">Twitter</a></span>
                <span class="footer-link"><a target="_blank" href="https://instagram.com/bushwickayudamutua">Instagram</a></span>
            </div>

            <div class="d-flex flex-column flex-lg-row align-items-center links-container order-2 order-lg-1">
                <div class="footer-link no-underline">
                    <span class="lang-text eng active">
                        2023 BAM. All Rights Reserved
                    </span>
                    <span class="lang-text span">
                        2023 BAM. Reservados todos los derechos
                    </span>
                </div>
                <div class="footer-link">
                    <a href="/onboarding">
                        <span class="lang-text eng active">
                            Onboarding Kit
                        </span>
                        <span class="lang-text span">
                            Kit de incorporación
                        </span>
                    </a>
                </div>
                <div class="footer-link">
                    <a href="/privacy/">
                        <span class="lang-text eng active">
                            Privacy and Security Policy
                        </span>
                        <span class="lang-text span">
                            Política de privacidad y seguridad
                        </span>
                    </a>
                </div>
                <div class="footer-link">
                    <a href="/safety/">
                        <span class="lang-text eng active">
                            Safety Guidelines
                        </span>
                        <span class="lang-text span">
                            Reglas de seguridad
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="d-sm-none logo-container">
        {% include logoSVG_whiteText.html %}
    </div>
</div>