
<div class="grid">
	<div>
		<h3>Submit A Request For Assistance</h3>
		<h3 class="es">Formulario Para Ayuda</h3>
	</div>
	<div>
		<h3>Sign Up To Volunteer!</h3>
		<h3 class="es">
		¡Regístrate para ser voluntario!</h3>
	</div>
	<div>
		<h3>Donate To Support Your Community</h3>
		<h3 class="es">Done para apoyar a su comunidad</h3>
	</div>

</div>
<div class="grid">
	<div>
		<a href="https://bit.ly/BAMrequest" class="btn">Request Help</a>
	</div>
	<div>
		<a href="https://bit.ly/BAM-sign-up" class="btn">Volunteer</a>
	</div>
	<div>
		<a href="https://opencollective.com/bushwick-ayuda-mutua" class="btn">Donate</a></div>
	</div>