<div class="neighbors-container" id="neighbors_ticker">
    <div class="ticker">
        <div class="item">
            <span class="eng lang-text active">
                neighbors
            </span>
            <span class="span lang-text">
                vecinos
            </span>
        </div>
        <div class="item">
            <span class="eng lang-text active">
                helping
            </span>
            <span class="span lang-text">
                ayudando a
            </span>
        </div>
        <div class="item">
            <span class="eng lang-text active">
                neighbors
            </span>
            <span class="span lang-text">
                vecinos
            </span>
        </div>
        <div class="item">
            <span class="eng lang-text active">
                helping
            </span>
            <span class="span lang-text">
                ayudando a
            </span>
        </div>
        <div class="item">
            <span class="eng lang-text active">
                neighbors
            </span>
            <span class="span lang-text">
                vecinos
            </span>
        </div>
        <div class="item">
            <span class="eng lang-text active">
                helping
            </span>
            <span class="span lang-text">
                ayudando a
            </span>
        </div>
        <div class="item">
            <span class="eng lang-text active">
                neighbors
            </span>
            <span class="span lang-text">
                vecinos
            </span>
        </div>
        <div class="item">
            <span class="eng lang-text active">
                helping
            </span>
            <span class="span lang-text">
                ayudando a
            </span>
        </div>
        <div class="item">
            <span class="eng lang-text active">
                neighbors
            </span>
            <span class="span lang-text">
                vecinos
            </span>
        </div>
        <div class="item">
            <span class="eng lang-text active">
                helping
            </span>
            <span class="span lang-text">
                ayudando a
            </span>
        </div>
        <div class="item">
            <span class="eng lang-text active">
                neighbors
            </span>
            <span class="span lang-text">
                vecinos
            </span>
        </div>
        <div class="item">
            <span class="eng lang-text active">
                helping
            </span>
            <span class="span lang-text">
                ayudando a
            </span>
        </div>
        <div class="item">
            <span class="eng lang-text active">
                neighbors
            </span>
            <span class="span lang-text">
                vecinos
            </span>
        </div>
        <div class="item">
            <span class="eng lang-text active">
                helping
            </span>
            <span class="span lang-text">
                ayudando a
            </span>
        </div>
        <div class="item">
            <span class="eng lang-text active">
                neighbors
            </span>
            <span class="span lang-text">
                vecinos
            </span>
        </div>
        <div class="item">
            <span class="eng lang-text active">
                helping
            </span>
            <span class="span lang-text">
                ayudando a
            </span>
        </div>
        <div class="item">
            <span class="eng lang-text active">
                neighbors
            </span>
            <span class="span lang-text">
                vecinos
            </span>
        </div>
    </div>
</div>