<div class="neighbors-container" id="neighbors_ticker">
    <div class="ticker">
        <div class="item">
            neighbors
        </div>
        <div class="item">
            helping
        </div>
        <div class="item">
            neighbors
        </div>
        <div class="item">
            helping
        </div>
        <div class="item">
            neighbors
        </div>
        <div class="item">
            helping
        </div>
        <div class="item">
            neighbors
        </div>
        <div class="item">
            helping
        </div>
        <div class="item">
            neighbors
        </div>
        <div class="item">
            helping
        </div>
        <div class="item">
            neighbors
        </div>
        <div class="item">
            helping
        </div>
        <div class="item">
            neighbors
        </div>
        <div class="item">
            helping
        </div>
        <div class="item">
            neighbors
        </div>
        <div class="item">
            helping
        </div>
        <div class="item">
            neighbors
        </div>
    </div>
</div>