.btn {
  @include radius(0);
  background-color: $color-1;
  text-transform: uppercase;
  border: none;
  padding: 10px 20px;
  color: white;
  @include transition;
  text-decoration: underline;

  &:hover {
    background-color: darken($color-1, 10%);
    text-decoration: underline;
    color: white;
  }

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }
}