html:before,
html:after {
  height: $frame;
  background-color: #fff;
  width: 100%;
  displaY: block;
  content: "";
  position: fixed;
}

html:before,
body:before {
  top: 0;
}

html:after,
body:after {
  bottom: 0;
}


body:before,
body:after {
  height: $frame;
  @include tile(lines-down-c, white, 5px);
  width: 100%;
  displaY: block;
  content: "";
  position: fixed;
  z-index: 1000;
}