$color-1: purple;
$color-2: black;
$frame: 30px;
$menu: 200px;
$social: 110px;
$transition: 300ms;
$opacity: 0.8;

@mixin highlight($bg: white, $gap: 10px, $spacing: 20px, $top: 10px, $bottom: 5px, $break: true) {
  display: inline;
  background: $bg;
  box-shadow: $gap 0 0 $bg,
    -$gap 0 0 $bg;
  padding-bottom: $bottom;
  padding-top: $top;
  box-decoration-break: clone;

  // @media screen and (max-width: map-get($grid-breakpoints, sm)) {
  //   padding-left: $gap;

  //   &:after {
  //     height: 0;
  //   }
  // }

  @if $break==true {
    &::after {
      content: "";
      display: block;
      height: $spacing;
      background: none !important;
    }
  }
}

@mixin scaffold($width: 10px, $left: -40px, $top: -30px, $color: $color-1) {
  &::before {
    content: '';
    display: block;
    width: $width;
    margin-left: $left;
    margin-top: $top;
    background-color: $color;
    position: absolute;
  }
}


@mixin fade($x: 0, $y: 0, $z: 0, $duration: $durationDefault, $function: $functionDefault, $delay: $delayDefault, $count: $countDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(fade);
  @include duration($duration);
  @include function($function);
  @include delay($delay);
  @include count($count);
  @include visibility($visibility);
  @include fill-mode($fill);

  @at-root {
    @include keyframes(fade) {
      0% {
        opacity: 0;
        transform: translate3d($x, $y, $z);
      }

      100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}