// .wow {
// 	@include fadeInUp;
// }

$gap: 30px;
$logo: 150px;
$breakpoint: 800px;
$delay: 400ms;
$bam-orange: #FF6E2E;


.owl-next,
.owl-prev {
	&:active,
	&:focus {
		outline: none !important;
	}

	&:hover {
		background: none !important;
	}
}

.owl-nav {
	width: 255px;
	margin: 0 auto;
	position: relative;
}

.owl-prev {
	position: absolute;
	top: -13px;
	display: block !important;
}

.owl-next {
	position: absolute;
	top: -13px;
	right: 0px;
	display: block !important;
}


//Carousel indicator dots
.owl-theme .owl-dots .owl-dot span {
	width: 18px !important;
	height: 18px !important;
	background: transparent !important;
	border: 5px solid black !important;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background: #000 !important;
}
.owl-carousel .owl-stage {
	display: flex;
	align-items: center;
}

.min-height-100 {
	min-height: 100vh;
}

.font-grif-bold {
	font-family: "grifter-bold";
}

.link {
	text-transform: uppercase;
	font-family: "grifter-bold";
	font-size: 20px;

	a {
		color: black;
		display: flex;
		
		span {
			margin-right: 10px;
		}

		.arrow {
			position: relative;
			top: 5px;
		}

		&:hover {
			cursor: pointer;
			text-decoration: none;
			color: $bam-orange;

			.arrow {
				#Arrow {
					stroke: $bam-orange;
				}
			}
		}
	}

	.arrow-img {
		width: 18px;
		height: 28px;
	}

	
}

.lang-text {
	display: none;

	&.active {
		display: block;
	}
}

.logo svg {
	transition: all $delay ease-out;
	@media (min-width: $breakpoint) {
		width: 100%;
	}
	@media (max-width: $breakpoint) {
		width: $logo;	
		height: $logo;

	}

}


.logo {
	transition: all $delay ease-out;
	&:hover svg {
		
		transform: rotate(-10deg);
	}

	display: block;
	@media (max-width: $breakpoint) {
		text-align: center;
		padding-top: $gap;

	}

}

@keyframes moveBlue {
	from {left: 42%;}
	to {left: 3%;}
}

@keyframes moveOrange {
	from {left: 62%;}
	to {left: 25%;}
}

.parallax-bg {
	min-height: 100vh;
	position: fixed;
    height: 100vh;
	width: 100%;
	z-index: -1;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	.circle {
		width: 200px;
		height: 200px;

		@media only screen and (min-width: 1024px) {
			width: 600px;
    		height: 600px;
		}
		
		-moz-border-radius: 50%;
		border-radius: 50%;
		opacity: 0.4;
		position: absolute;
		// top: 10%;
		// left: 62%;

		filter: blur(45px);
		-webkit-filter: blur(45px);
		  
		transform: skew(70deg, 78deg);

		// transform: skew(25deg, -25deg);
		// background: rgb(174,206,230);
		// background: linear-gradient(90deg, rgba(174,206,230,1) 0%, rgba(255,110,46,1) 100%);

		&.orange {
			left: 40%;
			@media only screen and (min-width: 1024px) {	
				left:60%;
			}
			background-color: $bam-orange;
		}

		&.blue {
			@media only screen and (min-width: 1024px) {	
				left: 16%;
			}
			background-color: #6aa5d2;
		}
	}
}




body {
	font-family: standard-book;
	background-color: #EFF5FA;
}


.highlight {
	margin-top: $gap;
	@extend h4;
	color: $color-1;
	font-style: italic;
}

/*****
 * Nav
******/
nav {
	background-color: #EFF5FA;
	font-family: "grifter-bold";
	padding: 5px !important;
	border-bottom: 4px solid black;

	@media only screen and (min-width: 1024px) {
		padding-right: 50px !important;
	}

	height: 114px;
	transition: .5s height;
	
	&.scrolled {
		height: 64px;
	}

	.nav-logo {
		position: absolute;
		left: 30px;

		@media only screen and (max-width: 576px) {
			top: 16px;
		}

		width: 75px;
		opacity: 0;

		&.hands {
			width: 65px;
		}

		&.active {
			opacity: 1;
		}

		// transition: opacity .5s;

		@media only screen and (min-width: 577px) {
			width: 95px;
		}
	}

	#logo_container {
		height: 100px;

		&.scrolled {
			height: 52px;
		}
		
		// transition: height .5s;

		@media only screen and (max-width: 576px) {
			margin-left: -17px;
		}
	}

	#collapse_btn {
		background-image: url('./../assets/images/menu.svg');
		background-repeat: no-repeat;
	}

	a {
		&:hover {
			cursor: pointer;
		};
	}

	ul {
		width: 58%;
		@media only screen and (min-width: 577px) {
			justify-content: space-between;
		}

		@media only screen and (max-width: 576px) {
			width: 100%;
			background-color: black;
			position: fixed;
			height: 100%;
			top: 0;
			left: 0;
			padding-top: 100px;
			padding-left: 10px !important;
		}

		.close-btn {
			position: absolute;
			left: 314px;
			top: 35px;

			@media only screen and (min-width: 577px) {
				display: none;
			}
		}

		li {
			@media only screen and (max-width: 576px) {
				margin-bottom: 50px;
			}

			a {
				border-bottom: none !important;
				color: black !important;
				font-size: 18px;

				@media only screen and (max-width: 576px) {
					color: white !important;
					font-size: 48px;
					line-height: 56px;
				}

				&:hover,
				&.active {
					color: $bam-orange !important;
				}
			}
		}
	}

	.right-btn-container {
		display: flex;
		align-items: center;

		@media only screen and (min-width: 577px) and (max-width: 991px) {
			width: 180px;
			justify-content: space-between;
		}
	}
	
	.eng-span-container {
		@media only screen and (max-width: 576px) {
			margin-right: 30px;
		}

		display:flex;

		font-size: 18px;
		font-family: grifter-bold;

		.lang-btn {
			width: 50px;
			height: 50px;

			padding: 10px;
			text-transform: uppercase;
			border: 3px solid black;
			border-radius: 50%;
			opacity: .2;
			display: flex;
    		align-items: center;

			&:first-child {
				margin-right: 5px;
			}

			&:hover {
				cursor: pointer;
			}

			&.active {
				color: white;
				background-color: black;
				opacity: 1;
			}

			span {
				margin-top: 1px;
			}
		}
	}

	.nav-dropdown {
		position: relative;

		.nav-dropdown__menu {
			display: none;
			background-color: #EFF5FA;
			position: absolute;
			padding: 10px;
			border-radius: 1px;
			width: 106px;

			border-left: 3px solid black;
			border-right: 3px solid black;
			border-bottom: 3px solid black;

			&.active {
				display: block;
			}

			a:hover {
				text-decoration: none !important;
			}
		}
	}

	.mobile-nav-footer {
		@media only screen and (min-width: 577px) {
			display: none;
		}
	}

	.nav-item.mobile {
		@media only screen and (min-width: 577px) {
			display: none;
		}
	}

	.nav-item.donate {
		@media only screen and (max-width: 577px) {
			display: none;
		}
	}
}

/*****
 * Header Pane
******/
.header-container {
	@media only screen and (max-width: 1024px) {
		margin-top: 65px;
		margin-bottom: 65px;
	}
}
#header_pane {
	@media only screen and (min-width: 375px) {
		background-image: url("/assets/images/bam-tag.svg");
		background-repeat: no-repeat;
		background-size: 107px 100px;
		background-position: 281px 119px;
	}

	@media only screen and (min-width: 513px) {
		background-position: 354px 378px;
	}

	@media only screen and (min-width: 768px) {
		background-position: 488px 100px;
	}

	@media only screen and (min-width: 1024px) {
		min-height: 100vh;
		background-size: 175px 175px;
		background-position: 728px 657px;
	}

	@media only screen and (min-width: 1200px) {
		background-position: 923px 438px;
	}

	.title {
		font-family: "grifter-bold";
		font-size: 68px;
		line-height: 82px;

		@media only screen and (min-width: 1024px) {
			font-size: 140px;
			line-height: 140px;
		}

		@media only screen and (min-width: 1024px) {
			font-size: 140px;
			line-height: 140px;
		}
	}

	.subtitle {
		width: 94%;
		font-size: 26px;

		@media only screen and (min-width: 1024px) {
			font-size: 32px;
			width: 77%;
		}
	}

	.text {
		width: 94%;
		font-size: 18px;

		@media only screen and (min-width: 1024px) {
			font-size: 20px;
			width: 77%;
		}
	}

	.learn-more {
		font-size: 20px;
		text-transform: uppercase;
	}
}


/*****
 * Neighbors Ticker
******/

#neighbors_ticker {
	display: flex;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	overflow: hidden;

	.ticker {

		display: flex;
		white-space: nowrap;
		box-sizing: content-box;


		.item {
			display: inline-block;
			padding: 0 .5rem;
			font-size: 60px;
			text-transform: uppercase;
			font-family: "grifter-bold";  

		}

	}

}

#network_pane {
	background-image: url("/assets/images/volunteer.svg");
	background-repeat: no-repeat;
	background-position: 97% 98%;
	height: 400px;
	@media only screen and (max-width: 560px) {
		background-size: 145px;
		background-position: 97% 0%;
	}

}


/*****
 * Carousel
******/
.carousel-container {
	max-width: 95%;
    margin-right: auto;
	margin-left: auto;
	margin-top: 8em;

	display: flex;
    align-items: center;
    justify-content: center;
}

#pics_carousel {
	display: none;

	.owl-dots {
		margin-top: 36px !important;
	}

	.owl-nav {
		width: 312px;
	}

	.owl-prev {
		position: absolute;
		top: 9px;
		display: block !important;
	}
	
	.owl-next {
		position: absolute;
		top: 9px;
		right: 0px;
		display: block !important;
	}
	
	.item {
		min-height: 1px;
	}

	.item-inner {
		height: 353px;
	}

	.spinner-border {
		position: absolute;
	}

	.img-outer-container {
		width: 96%;
		max-height: 329px;
		background: #dee2e6;
		border: 5px solid black;
		overflow: hidden;

		display: flex;
		align-items: center;
		justify-content: center;
	}

	.item-bg {
		width: 95%;
		max-height: 329px;
		position: absolute;
		background: #AECEE6;
		z-index: -1;
		left: 19px;
		top: 24px;
		border: 5px solid black;

		img {
			visibility: hidden;
		}
	}
}

/*****
 * Testimony Carousel
******/
.t-carousel-container {
	margin-top: 50px;
}
#testimony_carousel {
	.item {
		max-width: 765px;

		p {
			font-size: 24px;
			line-height: 36px;
		}

		@media only screen and (min-width: 577px) {
			p {
				font-size: 28px;
				line-height: 46px;
			}
		}

		.person {
			margin-top: 30px;
			color: $bam-orange;
			font-size: 20px;

			@media only screen and (min-width: 577px) {
				font-size: 30px;
			}

			font-family: "grifter-bold";
		}
	}

	.owl-item:not(.active) {
		opacity: .2;
	}
}


.comment-text {
	// height: 160px;
	// width: 1110px;
	color: #000000;
	font-family: "grifter-bold";
	
	font-weight: bold;
	letter-spacing: -0.35px;

	font-size: 48px;
	line-height: 56px;

	@media only screen and (min-width: 1024px) {
		font-size: 60px;
		line-height: 80px;
	}
	

	&.network {
		padding-top: 2em;

		@media only screen and (min-width: 1024px) {
			padding-top: 3em;
		}
	}
}

.requests {
	margin-top: 165px;
	position: relative;

	#hands_mobile {
		margin-left:100px;
		
		@media only screen and (min-width: 576px) {
			display: none;
		}
	}

	#hands_desktop {
		display: none;
		position: absolute;

		@media only screen and (min-width: 576px) {
			display: block;
		}
	}
}
.request {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	@media only screen and (max-width: 576px) {
		overflow: hidden;
	}

	.logo {
		position: absolute;
	}

	&#volunteer {
		.logo {
			right: -35px;
			top: 20px;
			z-index: -1;

			@media only screen and (min-width: 557px) {
				// top: 190px;
				top: 314px;
			}

			@media only screen and (min-width: 1024px) {
				// right: 1020px;
				top: -41px;
				right: 0px;
				left: 11px;
			}
		}
	}

	&#assistance {
		// margin-top: 4em;

		@media only screen and (min-width: 1024px) {
			margin-top: 0;
		}
		.logo {
			// left: 163px;
			left: 412px;
			top: -123px;
			
			@media only screen and (min-width: 557px) {
				top: 272px;
			}
			
			@media only screen and (min-width: 1024px) {
				left: 37px;
    			top: 74px;
			}
		}
	}
	
	

	.text-container {
		@media only screen and (min-width: 1024px) {
			width: 65%;
		}
	}

	.title {
		font-size: 48px;
		line-height: 56px;
		font-family: "grifter-bold";

		@media only screen and (min-width: 1024px) {
			font-size: 60px;
		}
		
		.underline {
			border-bottom: 8px solid $bam-orange;
		}
		
		a {
			color: #212529;
			text-decoration: none;

			&:hover {
				text-decoration: none !important;
				color: $bam-orange;
				cursor: pointer;
			}
		}
	}

	.text {
		font-size: 18px;
		line-height: 32px;

		@media only screen and (min-width: 1024px) {
			font-size: 20px;
			line-height: 30px;
		}
	}
}



/*****
 * Footer
******/

#footer {
	color: white;
	background: #1C1C1C;
	margin-top: 100px;

	@media only screen and (min-width: 1024px) {
		margin-top: 165px;
	}
	
	padding-top: 77px;

	@media only screen and (max-width: 577px) {
		padding-bottom: 50px;
	}

	@media only screen and (min-width: 376px) {
		padding-right: 50px;
		padding-left: 50px;
	}

	position: relative;

	a {
		color: white;
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}

	.pointing-img {
		position: absolute;
		top: -37px;
		left: 32%;
	}

	.content-container {
		text-align: center;
	}

	.title {
		font-size: 60px;
		line-height: 70px;
		font-family: "grifter-bold";

		@media only screen and (max-width: 1024px) {
			font-size: 30px;
			line-height: 40px;
		}
	}

	.subtitle {
		font-size: 20px;
	}

	.donate-container {
		justify-content: space-evenly;
		max-width: 1214px;
    margin: 0 auto;
	}

	.donate {
		margin-top: 35px;
		padding: 17px 55px;

		font-family: "grifter-bold";
		font-size: 20px;
		line-height: 30px;
		text-transform: uppercase;

		border: 2px solid white;
		border-radius: 32px;

		transition: background .5s;

		&:hover {
			cursor: pointer;
			background: white;

			span {
				color: $bam-orange;
			}
		}

		&.donate-funds {
			@media only screen and (min-width: 992px) {
				margin-right: 40px;
			}
		}
	}

	.footer-inner {
		margin-top: 100px;
		padding: 32px 0;
		border-top: 1px solid white;

		.links-container {
			text-align: center; 

			.link:not(:last-child) {
				margin-right: 50px;
			}

			&:last-child {
				@media only screen and (max-width: 576px) {
					margin-top: 75px;
				}
			}

			&:last-child {
				@media only screen and (min-width: 1172px) {
					width: 50%;
					justify-content: space-between;
				}

				@media only screen and (min-width: 1485px) {
					width: 40%;
					justify-content: space-between;
				}
			}

			&:first-child {
				@media only screen and (min-width: 1172px) {
					width: 24%;
					justify-content: space-between;
				}
			}
		}
		.footer-link {
			opacity: .7;
			font-family: "grifter-bold";
			font-size: 18px;
			padding-left: 5px;
			padding-right: 5px;
			@media only screen and (min-width: 577px) {
				font-size: 16px;
			}

			@media only screen and (min-width: 1024px) {
				margin-top: 16px
			}

			&:not(.no-underline) {
				text-decoration: underline;
			}

			&.no-underline:hover {
				color: white;
				cursor: pointer;
			}
			

			& > a:hover {
				
				color: $bam-orange;
			}

			&:not(:first-child) {
				@media only screen and (max-width: 576px) {
					margin-top: 30px
				}
			}
		}
	}
  
	.logo-container {
		text-align: center;
	}
}



/*****
 * About
******/
#about {
	margin-top:100px;

	@media only screen and (min-width: 1500px) {
		max-width: 1440px;
	}
	@media only screen and (max-width: 1499px) {
		max-width: 1250px;
	}
	@media only screen and (max-width: 1025px) {
		max-width: 1000px;
	}

	margin: 100px auto 0 auto;

	.about-container {
		@media only screen and (max-width: 990px) {
			width: 100%;
			padding-right: 15px;
			padding-left: 15px;
			margin-right: auto;
			margin-left: auto;
		}
		.row {
			@media only screen and (min-width: 577px) {
				justify-content: space-evenly;
			}
		}
	}

	.header {
		.title {
			font-size: 48px;

			@media only screen and (min-width: 1024px) {
				font-size: 100px;
				line-height: 100px;
			}
		}

		.subtitle {
			font-size: 22px;
			line-height: 36px;

			@media only screen and (min-width: 1024px) {
				font-size: 24px;
				line-height: 42px;
			}
		}

		.text {
			font-size: 18px;
			line-height: 32px;

			@media only screen and (min-width: 1024px) {
				font-size: 20px;
				line-height: 36px;
			}
		}
	}
	
	.content-container {
		position: relative;
		height: 100%;

		#community_image {
			top: -9%;
			left: 71%;
			width: 117px;
			position: absolute;
			z-index: -1;

			@media only screen and (min-width: 1024px) {
				top: 6%;
				left: 65%;
			}
		}
	}

	.connect {
		position: relative;

		.connect-text {
			font-size: 24px;
			line-height: 38px;

			@media only screen and (min-width: 1024px) {
				font-size: 36px;
				line-height: 46px;
			}
		}

		.link {
			font-size: 20px;
		}
	}

	#connect_img {
		position: absolute;
		left: 276px;
		top: 925px;
		width: 91px;

		@media only screen and (min-width: 1024px) {
			left: -30px;
			top: 1000px;
			width: 111px;
		}
	}
}



/*****
 * Mission Dropdowns
******/
.mission {
	// margin-left: 65px;

	.title {
		font-size: 24px;
		line-height: 38px;

		@media only screen and (min-width: 1024px) {
			font-size: 50px;
		}
	}
}
.drop-section {
	border-bottom: 3px solid black;

	@media only screen and (min-width: 1024px) {
		border-bottom: 5px solid black;
	}
	
	&:first-child {
		border-top: 3px solid black;

		@media only screen and (min-width: 1024px) {
			border-top: 5px solid black;
		}
	}

	p {
		font-size: 18px;
		line-height: 32px;

		@media only screen and (min-width: 1024px) {
			font-size: 20px;
			line-height: 36px;
		}
	}

	a {
		&:hover {
			color: $bam-orange;
		}
	}

	// .plus-img {
	// 	width: 17px;
	// 	height: 17px;

	// 	@media only screen and (min-width: 1024px) {
	// 		width: 28px;
	// 		height: 28px;
	// 	}
	// }

	.head {
		width: 100%;
		justify-content: space-between;
		align-items: center;
		
		img {
			&:hover {
				cursor: pointer;
			}
		}
	}

	.toggle-icon {
		width: 17px;
		height: 17px;
		background-image: url('../assets/images/minus.svg');
		background-repeat: no-repeat;
		background-size: 17px 17px;

		@media only screen and (min-width: 1024px) {
			width: 28px;
			height: 28px;
			background-size: 28px 28px;
		}

		&.collapsed {
			background-image: url('../assets/images/plus.svg');
			background-repeat: no-repeat;
		}

		&:hover {
			cursor: pointer;
		}
	}
}

/*****
 * policy pages
******/
.policy-container {
	margin: 25px;
	h1 {
		text-align: center;
	}
}

/*****
 * mini extension forms
******/

.mini-extensions-form {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    height: 1000px;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}
}
