// .wow {
// 	@include fadeInUp;
// }

$gap: 30px;
$logo: 150px;
$breakpoint: 800px;
$delay: 400ms;
$bam-orange: #FF6E2E;


//Carousel indicator dots
.owl-theme .owl-dots .owl-dot span {
	width: 18px !important;
	height: 18px !important;
	background: transparent !important;
	border: 5px solid black !important;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background: #000 !important;
}

.min-height-100 {
	min-height: 100vh;
}

.link {
	text-transform: uppercase;
	font-family: "grifter-bold";
	font-size: 20px;

	&:hover {
		cursor: pointer;
	}
}

.lang-text {
	display: none;

	&.active {
		display: block;
	}
}

.logo svg {
	transition: all $delay ease-out;
	@media (min-width: $breakpoint) {
		width: 100%;
	}
	@media (max-width: $breakpoint) {
		width: $logo;	
		height: $logo;

	}

}


.logo {
	transition: all $delay ease-out;
	&:hover svg {
		
		transform: rotate(-10deg);
	}

	display: block;
	@media (max-width: $breakpoint) {
		text-align: center;
		padding-top: $gap;

	}

}

@keyframes moveBlue {
	from {left: 42%;}
	to {left: 3%;}
}

@keyframes moveOrange {
	from {left: 62%;}
	to {left: 25%;}
}

.parallax-bg {
	min-height: 100vh;
	position: fixed;
    height: 100vh;
	width: 100%;
	z-index: -1;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	.circle {
		width: 472px;
    	height: 468px;
		-moz-border-radius: 50%;
		border-radius: 50%;
		opacity: 0.3;
		position: absolute;
		// top: 10%;
		// left: 62%;

		filter: blur(45px);
		-webkit-filter: blur(45px);
		  
		transform: skew(70deg, 78deg);
		// background: rgb(174,206,230);
		// background: linear-gradient(90deg, rgba(174,206,230,1) 0%, rgba(255,110,46,1) 100%);

		&.orange {
			// top: -20%;
			left:60%;
			background-color: $bam-orange;
		}

		&.blue {
			// left: 38%;
			// top: -20%;
			background-color: #AECEE6;
		}
	}
}




body {
	font-family: standard-book;
	background-color: #EFF5FA;
}


.highlight {
	margin-top: $gap;
	@extend h4;
	color: $color-1;
	font-style: italic;
}

.sig {

	text-align: center;
	svg {
		width: ($gap * 2);
		height: ($gap * 2);
		@media (max-width: $breakpoint) {
			width: ($gap * 1.5);
			height: ($gap * 1.5);
		}
	}
}


sidebar {
	@include fadeInDown;
	@media (min-width: $breakpoint) {
		height: 100vh;
		position: sticky;
		top: -1;
		padding: $gap 0;
		display: grid;
		grid-template-rows: $logo 1fr;
		grid-gap: $gap;
		nav {
			align-self: end;
		}
	}
	nav {
		ul {
			padding-left: 0;
			   list-style: none;
			 
			@media (max-width: $breakpoint) {
				text-align: center;
				li {
					display: inline-block;
					margin-top: ($gap / 2);
					margin-left: 5px;
				}
			}
		}
	}

}

/*****
 * Nav
******/
nav {
	font-family: "grifter-bold";
	padding-right: 50px !important;

	#nav_logo {
		position: relative;
		left: 30px;
	}

	ul {
		width: 42%;
		justify-content: space-between;
		li {
			a {
				border-bottom: none !important;
				color: black !important;
				font-size: 18px;

				&:hover,
				&.active {
					color: $bam-orange !important;
				}
			}
		}
	}
	
	.eng-span-container {
		display:flex;

		font-size: 18px;
		font-family: grifter-bold;

		.lang-btn {
			padding: 10px;
			text-transform: uppercase;
			border: 3px solid black;
			border-radius: 50%;
			opacity: .2;

			&:first-child {
				margin-right: 5px;
			}

			&:hover {
				cursor: pointer;
			}

			&.active {
				color: white;
				background-color: black;
				opacity: 1;
			}
		}
	}
}

/*****
 * Header Pane
******/
#header_pane {
	background-image: url("/assets/images/bam-tag.svg");
	background-repeat: no-repeat;
	background-position: 923px 494px;

	.title {
		font-size: 140px;
		line-height: 140px;
		font-family: "grifter-bold";
	}

	.subtitle {
		font-size: 20px;
		width: 77%;
	}

	.learn-more {
		font-size: 20px;
		text-transform: uppercase;
	}
}


/*****
 * Neighbors Ticker
******/

$duration: 30s;

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

#neighbors_ticker {
	display: flex;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	overflow: hidden;

	.ticker {

		display: flex;
		white-space: nowrap;
		box-sizing: content-box;

		// -webkit-animation-iteration-count: infinite; 
		// 		animation-iteration-count: infinite;
		// -webkit-animation-timing-function: linear;
		// 		animation-timing-function: linear;
		// -webkit-animation-name: ticker;
		// 		animation-name: ticker;
		// -webkit-animation-duration: 15s;
		// 		animation-duration: 15s;


		.item {
			display: inline-block;
			padding: 0 .5rem;
			font-size: 60px;
			text-transform: uppercase;
			font-family: "grifter-bold";  

		}

	}

}

#network_pane {
	background-image: url("/assets/images/volunteer.svg");
	background-repeat: no-repeat;
	background-position: 97% 100%;
}


/*****
 * Carousel
******/
.carousel-container {
	max-width: 95%;
    margin-right: auto;
	margin-left: auto;
	margin-top: 200px;
}

#pics_carousel {
	.owl-dots {
		margin-top: 36px !important;
	}

	.item {
		height: 440px;
	}

	.img-container {
		position: absolute;
		width: 96%;
		height: 96%;
		background: blue;
		border: 5px solid black;
		overflow: hidden;
	}

	.item-bg {
		width: 95%;
		height: 94%;
		position: absolute;
		background: #AECEE6;
		z-index: -1;
		left: 19px;
		top: 24px;
		border: 5px solid black;
	}
}

/*****
 * Testimony Carousel
******/
.t-carousel-container {
    margin-top: 150px;
}
#testimony_carousel {
	.item {
		display: block;
		width: 765px;

		font-size: 34px;
		line-height: 46px;

		.person {
			margin-top: 30px;
			color: $bam-orange;
			font-size: 30px;
			font-family: "grifter-bold";
		}
	}

	.owl-item:not(.active) {
		opacity: .2;
	}
}


.comment-text {
	// height: 160px;
	// width: 1110px;
	color: #000000;
	font-family: "grifter-bold";
	font-size: 60px;
	font-weight: bold;
	letter-spacing: -0.35px;
	line-height: 80px;

	&.network {
		padding-top: 175px;
	}
}

.requests {
	margin-top: 165px;
}
.request {
	display: flex;
	justify-content: center;
	align-items: center;
	
	.logo {
		margin-right: 30px;
	}

	.text-container {
		width: 65%;
	}

	.title {
		font-size: 60px;
		font-family: "grifter-bold";

		.underline {
			border-bottom: 8px solid $bam-orange;
		}
	}

	.text {
		font-size: 20px;
		line-height: 30px;
	}
}



/*****
 * Footer
******/

#footer {
	color: white;
	background: #1C1C1C;
	margin-top: 165px;
	padding-top: 77px;
	padding-right: 50px;
	padding-left: 50px;
	position: relative;

	.pointing-img {
		position: absolute;
		top: -37px;
		left: 32%;
	}

	.content-container {
		text-align: center;
	}

	.title {
		font-size: 60px;
		line-height: 70px;
		font-family: "grifter-bold";
	}

	.subtitle {
		font-size: 20px;
	}

	.donate-container {
		display: flex;
		justify-content: center;
	}

	.donate {
		margin-top: 35px;
		padding: 17px 55px;

		font-family: "grifter-bold";
		font-size: 20px;
		text-transform: uppercase;

		border: 2px solid white;
		border-radius: 32px;

		transition: background .5s;

		&:hover {
			cursor: pointer;
			background: white;
			color: black;
		}
	}

	.footer-inner {
		margin-top: 100px;
		padding: 32px 0;
		border-top: 1px solid white;

		.links-container {
			span:not(:last-child) {
				margin-right: 50px;
			}
		}
		span {
			opacity: .7;
			font-family: "grifter-bold";
			font-size: 16px;
			text-decoration: underline;

			&:hover {
				cursor: pointer;
			}
		}
	}
}