.wow {
	@include fadeInUp;
}

$gap: 30px;
$logo: 120px;

.logo svg {
	width: 100%;
}


.logo {
	position: sticky;
	top: $gap;
}

body {
	font-family: standard-book;
}

.container {
	width: 700px;
	display: grid;
	padding: $gap;
grid-gap: $gap;
grid-template-columns: $logo 1fr;
}
section {
	margin-top: $gap;
	padding-top: $gap;
	border-top: dotted 2px $color-2;
}
section.help {
	width: 100%;
	display: grid;
grid-gap: $gap;
grid-template-columns: 1fr 1fr 1fr;
.btn {
	background-color: $color-1;
	padding: 5px $gap;
	text-align: center;
	displaY: block;
}
h3 {
	font-size: 20px;
	color: $color-1;
	&.es {
		  font-style: italic;
		  color: $color-2;
	}
}
}

.highlight {
	@extend h4;
	padding: ($gap * 2);
	color: $color-1;
	  font-style: italic;
}

.sig {
	text-align: center;
	margin-bottom: $gap;
	svg {
	width: ($gap * 2);
	height: ($gap * 2);


}
}