#mc_embed_signup {
  margin-top: 20px;

  label[for="mce-EMAIL"] {
    display: none;
  }

  input {
    height: 40px;
    padding: 10px;
    text-transform: uppercase;
    border: solid 1px #ccc;

    &.required.email {
      width: 70%;
      float: left;
      border-right: none;
      padding-top: 13px;

    }

    &[type="submit"] {
      width: 30%;
      @extend .btn;
    }
  }

  .mce_inline_error {
    display: block;
  }


}